<!-- fly-next-area -->
<section class="fly-next-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span class="sub-title">Popüler Destinasyonlar</span>
                    <h2 class="title">Keşfetmeye Başla</h2>
                </div>
            </div>
        </div>

        <!-- Kategoriler -->
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="fly-next-nav">
                    <button class="active" data-filter="*">Tümü</button>
                    <button data-filter=".cat-city">Popüler Şehirler</button>
                    <button data-filter=".cat-country">Popüler Ülkeler</button>
                    <button data-filter=".cat-route">Tatil Rotaları</button>
                </div>
            </div>
        </div>

        <div class="row fly-next-active justify-content-center">

            <!-- Paris -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item cat-city">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="#"><img src="/geair/assets/img/images/fly_img01.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>Fransa</span>
                        <h4 class="title">Paris</h4>
                        <div class="content-bottom">
                            <p>Başlangıç fiyatı</p>
                            <h4 class="price">€450</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dubai -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item cat-city">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="#"><img src="/geair/assets/img/images/fly_img02.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>Birleşik Arap Emirlikleri</span>
                        <h4 class="title">Dubai</h4>
                        <div class="content-bottom">
                            <p>Başlangıç fiyatı</p>
                            <h4 class="price">€520</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- İsviçre -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item cat-country">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="#"><img src="/geair/assets/img/images/fly_img03.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>Avrupa</span>
                        <h4 class="title">İsviçre</h4>
                        <div class="content-bottom">
                            <p>Tur Paketleri</p>
                            <h4 class="price">€780</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Japonya -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item cat-country">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="#"><img src="/geair/assets/img/images/fly_img04.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>Asya</span>
                        <h4 class="title">Japonya</h4>
                        <div class="content-bottom">
                            <p>Tur Paketleri</p>
                            <h4 class="price">€950</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Akdeniz Rotası -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item cat-route">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="#"><img src="/geair/assets/img/images/fly_img05.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>Avrupa</span>
                        <h4 class="title">Akdeniz Turu</h4>
                        <div class="content-bottom">
                            <p>7 Günlük Tur</p>
                            <h4 class="price">€620</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Balkan Rotası -->
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item cat-route">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="#"><img src="/geair/assets/img/images/fly_img06.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>Avrupa</span>
                        <h4 class="title">Balkan Turu</h4>
                        <div class="content-bottom">
                            <p>5 Günlük Tur</p>
                            <h4 class="price">€480</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- fly-next-area-end -->